//Layout
$panel-width: 430px;
$footer-height: 100px;
$margin: 40px;

//Colors
$gray-light: #CBCBD2;
$gray: darken($gray-light, 25%);
$purple-light: #72649f;
$purple: #79589F;

$border-color: $gray-light;