//Layout
$panel-width: 430px;
$footer-height: 100px;
$margin: 40px;

//Colors
$gray-light: #CBCBD2;
$gray: darken($gray-light, 25%);
$gray-dark: #3f3f44;
$purple-light: #72649f;
$purple: #79589F;
$white: #ffffff;

$border-color: $gray-light;
