//Layout
$panel-width: 430px;
$footer-height: 100px;
$margin: 40px;

//Colors
$gray-light: #CBCBD2;
$gray: #7D7D8E;
$gray-dark: #3F3F44;
$purple-light: #72649f;
$purple: #79589F;
$white: #ffffff;

$border-color: $gray-light;
