html,
body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.container {
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 60px;
  .content,
  .content > a {
    margin-bottom: 90px;
    color: fade-out($white, 0.2);
  }
}

h1.logo {
  text-align: center;
  margin: 0 0 $margin;
  a {
    display: inline-block;
    height: 96px;
    width: 69px;
    @include hide-text();
    @include retina-background('../logo-vertical', png, 69px);
  }
}

.logo-sfdc {
  display: block;
  margin: auto;
  width: 100%;
  max-width: $panel-width;
  height: $footer-height;
  padding: $margin/1.5 0;
  text-align: center;
  @include background(linear-gradient(90deg, fade-out(white, 1) 0%, fade-out(white, .8) 50%, fade-out(white, 1) 100%));
  background-size: 100% 1px;
  background-repeat: no-repeat;
  a {
    display: block;
    color: #9E93AB;
    color: fade-out(white, .6);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 10px;
    span {
      display: inline-block;
      height: 50px;
      width: 70px;
      text-align: center;
      margin: 0 3px -22px;
      @include hide-text();
      @include retina-background('../logo-sfdc', png, 70px);
      background-repeat: no-repeat;
    }
  }
}

.panel {
  max-width: $panel-width;
  margin: 0 auto $margin/2;
  border-radius: 8px;

  form {
    padding: $margin;

    @include mobile() {
      padding: $margin 20px;
    }
  }

  h3 {
    margin: $margin 0 0;
  }

  h4 {
    color: #333;
    font-weight: bold;
  }

  .divide {
    position: relative;
    margin-top: -$margin/2;
    margin-bottom: -$margin/2;

    span {
      position: relative;
      background: #fff;
      padding-left: 10px;
      padding-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: $margin;
      right: $margin;
      height: 1px;
      background: rgba($border-color, .6);
    }
  }

  .panel-body {
    padding: $margin/2 $margin $margin;

    &.panel-left {
      text-align: left;
    }

    &:last-child {
      padding: $margin/1.5 $margin;
    }
  }

  .panel-footer {
    padding: $margin/2;
    display: block;
    font-size: 17px;
    color: $gray;
    font-weight: 100;

    .help-block {
      margin-top: 0;
      padding-bottom: 0;
      font-size: 14px;
    }

    form, .btn-link {
      padding: 0;
    }

    .btn-link {
      font-weight: 200;
      vertical-align: baseline;
    }
  }

  .help-block {
    margin-top: -10px;
    padding-bottom: $margin/2;
  }

  a.panel-footer {
    text-decoration: none;

    > span {
      color: $purple;
      text-decoration: underline;
    }
  }
}

form {

  label {
    text-align: left;
    @include visually-hidden();
    .ie & {
      display: block;
      position: relative;
      clip: none;
      height: auto;
      width: auto;
      margin: 5px 0;
    }
  }

  .form-group {
    position: relative;
    margin-bottom: $margin/2;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    height: 44px;
    padding-left: 50px;

    @include mobile() {
      font-size: 16px;
    }
  }

  .input-icon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 12px;
    width: 18px;
    height: 18px;

    &::after {
      content: '';
      position: absolute;
      right: -11px;
      top: -10px;
      bottom: -10px;
      width: 1px;
      opacity: .5;
      @include linear-gradient(to top, rgba(#d4d4d4, 0) 0%, #d4d4d4 30%, #d4d4d4 70%, rgba(#d4d4d4, 0) 100%);
    }

    &.icon-username {
      @include retina-background('../icon-username', png, 18px);
    }

    &.icon-password {
      @include retina-background('../icon-password', png, 18px);
    }

    &.icon-2fa {
      @include retina-background('../icon-2fa', png, 18px);
    }

    &.icon-sms {
      @include retina-background('../icon-sms', png, 18px);
    }
  }

  ul {
    margin: 0;
    padding: $margin/4 $margin/2 $margin/2;
    color: $gray;
  }

  .split {
    margin-top: $margin/2;
    .btn {
      width: 48%;
      margin-right: 4%;
      .ie & {
        width: 46%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .overview {
    margin-bottom: $margin/2;
  }

  //Authorization form
  &.authorize {
    text-align: left;
    ul {
      border-bottom: 1px solid rgba($border-color, .6);
      margin-bottom: $margin/2;
      strong {
        color: #444;
      }
    }
    p {
      color: $gray-dark;
    }
  }
}
