- @title = "Internal Server Error"
#notfound.panel.panel-mid
  h2 Internal Server Error
  p.panel-body Our apologies, but it appears that something has gone wrong. Our engineers have been notified. If this problem persists, please e-mail <strong>support@heroku.com</strong>.
