<% if flash[:error] %>
  <div class="notice error">
    <h3><%= flash[:error] %></h3>
  </div>
<% end %>

<div id="login" class="dialog">
  <form method="post" action="/sessions" class="panel-body">
    <%= Rack::Csrf.tag(env) %>
    <fieldset>
      <div class="field">
	<label for="email">Email</label>
	<input type="email" name="email" class="text" size="43" id="email" />
      </div>
      <div class="field">
	<label for="password">Password</label>
	<input type="password" name="password" class="text password" size="43" id="password" />
      </div>
    </fieldset>
    <fieldset class="submit">
      <p>
        <a href="/account/reset">Reset Password</a>
      </p>
      <input class="submit" name="commit" type="submit" value="Log In" />
    </fieldset>
  </form>
</div>

<a href="/account/new" id="message">
  Getting started with Heroku is easy. &nbsp; &nbsp; &nbsp;
  <span>Sign Up</span>
</a>
