@font-face {
  font-family: "Corbel Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/corbelbold-webfont.eot?") format("eot"), url("/assets/corbelbold-webfont.woff") format("woff"), url("/assets/corbelbold-webfont.ttf") format("truetype"), url("/assets/corbelbold-webfont.svg#webfontlzzpxzyu") format("svg");
}

@font-face {
  font-family: "Corbel";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/corbel-webfont.eot?") format("eot"), url("/assets/corbel-webfont.woff") format("woff"), url("/assets/corbel-webfont.ttf") format("truetype"), url("/assets/corbel-webfont.svg#webfontO0rfJpd7") format("svg");
}

@font-face {
  font-family: "Hybrea";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/hybrealight-webfont.eot?") format("eot"), url("/assets/hybrealight-webfont.woff") format("woff"), url("/assets/hybrealight-webfont.ttf") format("truetype"), url("/assets/hybrealight-webfont.svg#webfontHioEustJ") format("svg");
}

@font-face {
  font-family: "Hybrea Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/hybrea-webfont.eot?") format("eot"), url("/assets/hybrea-webfont.woff") format("woff"), url("/assets/hybrea-webfont.ttf") format("truetype"), url("/assets/hybrea-webfont.svg#webfonto3DdN6lX") format("svg");
}
